
<h1> <%= @owner.name %>


</h1>

<h4>Summary</h4>

<p><%= @owner.summary %></p>

<h4>Rating</h4>

<p><%= @owner.rating %></p>

<p> <%= link_to "Edit", edit_owner_url(@owner.id), class: 'btn btn-primary', data: { confirm: 'Are you sure?'} %>

	<%= link_to "Delete", owner_url(@owner.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Seriously?'} %>
</p>
