<h1 class="title"><%=@user.name%></h1>

<div class="container">
	<h4>Email</h4>
	<p><%=@user.email%></p>

	<h4>Bio</h4>
	<p><%= @user.bio %></p>

	<h4>Cash Available</h4>
	<p>$<%=@user.cashavailable%></p>

	<h4>Goal</h4>
	<p>$<%=@user.cashavailable%></p>

	<p>
	  <%= link_to "Edit", edit_user_url(@user.id), class: 'btn btn-primary', data: { confirm: 'Are you sure?'} %>
	  <%= link_to "Delete", user_url(@user.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Seriously?'} %> 
	</p>
</div>