<%= form_for @project do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= form.label :summary %>
    <%= form.text_area :summary, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= form.label :owner_id %>
    <%= form.collection_select(:owner_id, Owner.all, :id, :name, {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <%= form.text_field :image, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= form.label :raised %>
    <%= form.text_field :raised, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :goal %>
    <%= form.text_field :goal, class: "form-control" %>
  </div>
  <%= form.button 'Create Project', class: "btn btn-success" %>
<% end %>