<h1><%=@project.name%></h1>

<p></p>
<%= image_tag(@project.image) %>
<p></p>

<h4>Summary</h4>
<p><%=@project.summary%></p>

<h4>Location</h4>
<p><%=@project.location%></p>

<h4>Owner</h4>
<p><%= link_to Owner.find_by(id: @project.owner_id).name, owner_url(@project.owner_id) %></p>

<h4>Raised</h4>
<p>$<%=@project.raised%></p>

<h4>Goal</h4>
<p>$<%=@project.goal%></p>

<p><%= link_to "Edit", edit_project_url(@project.id), class: 'btn btn-primary', data: { confirm: 'Are you sure?'} %>

	<%= link_to "Delete", project_url(@project.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Seriously?'} %> </p>